body {
    background-image: url(img/stickers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;/**/
    font-family: Copperplate Gothic Bold,Lucida Handwriting;
}

.txt {background-color: white;}

p {padding: 8px}

button {
    background-color: #FECF6A;
    font-size: small;
    font-weight: bold;
    word-wrap: anywhere;
}

.no-margin{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: white;
}
.tbl {background-color: aqua}

.backgorund{
    background-color: #343a40;
    margin-left: 3%;
    margin-right: 3%;
}

.btn-outline-success:hover {
    color: #343a40;
    background-color: #fff;
    border-color: #fff;
}
.btn-outline-success {
    color: #fff;
    border-color: #fff;
}

h1 {
    background-color: #FECF6A !important;
    color: black;
    text-align: center;
}

.round {
    border-radius: 20px;
    border: 10px solid #FECF6A
}

.roundV {
    border-radius: 20px;
    border: 10px solid rosybrown;
}

header {
    border: 2px solid #ffc107;
    background-color: #ffc107;
    margin-left: 20%;
    margin-right: 20%;
}
a.link:hover{
    color: white;
    background-color: lightsalmon;
    font-weight: bold;
    border-radius: 5px;
}

/*.stickersbg{
    background-image: url(img/stickers.jpg);
}*/

.slide{width: 100%;
    height: auto;
    border-radius: 10px;}

.extrainfo{border-radius: 10px;
    margin: 5px auto;
}

#slider{width: 100%;
    height: auto;

    position: relative;
    margin: 5px auto;

    /*border: 5px solid white;
    border-radius: 10px;*/
    /*box-shadow:0px 0px 5px 2px #ccc;*/
    padding: 0;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: unset;
    cursor: pointer;
    background-color: #fff;
    background-clip: unset;
    border-top: 0;
    border-bottom: 0;
    opacity: .5;
    transition: opacity .6s ease;
}